<MudAppBar Elevation="1">
    <MudLink Typo="Typo.h1" Class="text-white" Href="/" Underline="Underline.None">Atelier Crémazie</MudLink>

    <MudSpacer />


    <MudLink Class="text-white ml-7 lg-screen" Underline="Underline.None">
        <button type="button" onclick="document.getElementById('vitrine').scrollIntoView({behavior:'smooth'})"> Vitrine</button>
    </MudLink>
    <MudLink Class="text-white ml-7 lg-screen" Underline="Underline.None">
        <button type="button" onclick="document.getElementById('point-vente').scrollIntoView({behavior:'smooth'})">Points de vente</button>
    </MudLink>
    <MudLink Class="text-white ml-7 lg-screen" Underline="Underline.None">
        <button type="button" onclick="document.getElementById('contact').scrollIntoView({behavior:'smooth'})">Contact</button>
    </MudLink>

    <MudIconButton Class="sm-screen" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.End" OnClick="@ToggleDrawer" />
</MudAppBar>

<MudDrawer @bind-Open="@open" Variant="DrawerVariant.Temporary" Anchor="Anchor.Bottom" Elevation="0" Style="background-color: #0F3F59;">
    <MudNavMenu>
        <MudNavLink Class="text-white" OnClick="@(() => JSRuntime.InvokeVoidAsync("scroll","vitrine"))">Vitrine</MudNavLink>
        <MudNavLink Class="text-white" OnClick="@(() => JSRuntime.InvokeVoidAsync("scroll","pointvente"))">Points de vente</MudNavLink>
        <MudNavLink Class="text-white" OnClick="@(() => JSRuntime.InvokeVoidAsync("scroll","contact"))">Contact</MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {
    [Inject]
    protected IJSRuntime JSRuntime { get; set; } = null!;
    bool open = false;


    void ToggleDrawer()
    {
        open = !open;
    }
}